# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
env/

# Model files besar (upload manual atau via Git LFS)
models/*.onnx

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data
data/
dataset/
